
table {
  margin-top: 12px;
  width: 100%;
}

td, th {
  padding: 4px;
  text-align: left;
}

input[type=text] {
  margin-bottom: 10px;
}

body {
  background-color: rgb(28, 72, 149);
}

.Logo {
  background-image: url('./logo-blue.png');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  height: 60px;
  filter: brightness(0) invert(1);
  margin: 20px;
}

.App {
  padding: 16px;
  margin: 20px auto;
  background-color: white;
  width: 30%;
  min-width: 300px;
  border: 1px solid lightgray;
  border-radius: 4px;
  overflow: hidden;
}

.search-bar input[type=text] {
  width: calc(100% - 16px);
  padding: 8px;
}

.number-cell {
  text-align: right;
}